.bg-blue {
    background-color: #3943fe;
    color: #fafafa
}

.bg-black {
    background-color: #091018;
}

.bg-light-black {
    background-color: #222e3a;
}

.text-blue {
    color: #3943fe;
}

.shadow {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.gradient {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 16, 24, 1) 35%, rgba(0, 212, 255, 1) 100%);
}