body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.h2 {
    color: #fafafa;
    font-weight: bold;
}

.p {
    font-family: 'source sans pro';
    letter-spacing: 0.9px;
    line-height: 25px;
    color: #fafafa;
}

.circle {
    background-color: #fafafa;
    border-radius: 10000%;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.no-border {
    border: 0;
}

.no-border:focus {
    border: 0;
}

.blur {
    height: 100%;
    width: 100%;
    background-color: rgba(35, 21, 60, 0.9567);
}

@media only screen and (max-width: 600px) {
    #appstore {
        width: 50%;
    }
}

@media only screen and (max-width: 375px) {
    #appstore {
        width: 50%;
    }
}

@media only screen and (min-width: 600px) {}